<div class="row" ng-controller="stuInfoCtrl">
    <h2>学生信息管理</h2>
    <table id="datatable" class="table table-bordered">
        <thead>
        <tr>
            <th>
                学号
            </th>
            <th>
                姓名
            </th>
            <th>
                性别
            </th>
            <th>
                用户名
            </th>
            <th>
                手机号
            </th>
            <th>
                地址
            </th>
            <th>
                爱好
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stu in stuList track by $index">
            <td>
                {{stu.no}}
            </td>
            <td>
                {{stu.name}}
            </td>
            <td>
                {{stu.gender ? '男':'女'}}
            </td>
            <td>
                {{stu.un}}
            </td>
            <td>
                {{stu.phone}}
            </td>
            <td>
                {{stu.city}} {{stu.address}}
            </td>
            <td>
                {{stu.hobby}}
            </td>
            <td>
                <a href="javascript:void(0);" class="btn btn-sm btn-danger" ng-click="remove(stu.no, $index)">删除</a>
                <a href="javascript:void(0);" ui-sref="stu/modify({no: stu.no})" class="btn btn-sm btn-warning">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center;" ng-include="'/keeper/tpl/stu/paging.html'"></div>
    <a ui-sref="stu/add" class="btn btn-default btn-link">添加</a>
</div>